.timer{
  margin-bottom: 48px;
  &__text{
    font:400 15px/16px var(--font);
    color:$white;
    margin: 0 0 15px;
  }
  &-count{
    font:400 64px/70px var(--font);
    color:$white;
    width: 90px;
    margin: 0;
    text-align: center;
  }
  &-delimeter{
    font:500 64px/70px var(--font);
    color:$white;
    margin:0 10px;
  }
}